[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ipaddress = "*"
requests = "*"
pygments = "*"
pelican = "*"
markdown = "*"
typogrify = "*"
"beautifulsoup4" = "*"
ghp-import = "*"

[dev-packages]

[requires]
python_version = "3.7"
